.jumbotron-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
}

.header {
  text-align: center;
}

.bg {
  background-color: rgb(40, 40, 40);
  color: aquamarine;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.btn-color {
  color:aquamarine;
  background-color: rgb(153, 153, 153);
  margin:0 auto;
  display:block;
}

.rules  {
  color: aquamarine;
  background-color: rgb(40, 40, 40);
  float: left;
}

.hidden {
  display: none;
}

img#pigdice {
height: 180px;
width: auto;
}