.jumbotron-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
}

.header {
  text-align: center;
  color: aquamarine;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  background-image: url(https://i.etsystatic.com/21580498/r/il/af7228/3007207538/il_794xN.3007207538_cfvf.jpg);
  background-size: 101px; ;
} 

.bg {
  background-color: rgb(40, 40, 40);
  color: aquamarine;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.btn-color {
  color:aquamarine;
  background-color: rgb(153, 153, 153);
  margin:0 auto;
  display:block;
}

.rules  {
  color: aquamarine;
  background-color: rgb(40, 40, 40);
  float: left;
}

.hidden {
  display: none;
}
